<h1>{{title}}</h1>
<ng-container *ngFor="let leave of leaves">

    <p>{{leave.leaveName}}</p>
    <p>{{leave.leaveDate}}</p>
    <div>
        <app-buttons [value]="convertLeave[0]" (click)="onShift(leave, convertLeave[0])" [tooltip]="convertLeave[0]">
        </app-buttons>
        <app-buttons [value]="convertLeave[1]" (click)="onShift(leave, convertLeave[1])" [tooltip]="convertLeave[1]">
        </app-buttons>
    </div>
</ng-container>