<div>
  <app-leave-list [leaves]="allLeaves" title="All Leaves" leaveType="All" (selectLeave)="toggleLeave($event)">
  </app-leave-list>

  <app-leave-list [leaves]="floaterLeaves" title="Floater Leaves" leaveType="Floater"
    (selectLeave)="toggleLeave($event)">
  </app-leave-list>

  <app-leave-list [leaves]="plannedLeaves" title="Planned Leaves" leaveType="Planned"
    (selectLeave)="toggleLeave($event)">
  </app-leave-list>
</div>